@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

#source { display: none; }
body {
	font-family: 'Droid Serif';
	font-size: 20px;
}
h1, h2, h3 {
	font-family: 'Yanone Kaffeesatz';
	font-weight: 400;
	margin: 0 0 0.5em;
}
h1 { font-size: 4em; }
h2 { font-size: 2em; }
h3 { font-size: 1.6em; }
.footnote {
	position: absolute;
	bottom: 3em;
}
li p { line-height: 1.25em; }

.yellow { color: #b58900; }
.orange { color: #cb4b16; }
.red { color: #dc322f; }
.magenta { color: #d33682; }
.violet { color: #6c71c4; }
.blue { color: #268bd2; }
.cyan { color: #2aa198; }
.green { color: #859900; }

.large { font-size: 2em; }
a, a > code {
	color: #d33682;
	text-decoration: none;
}
code {
	-moz-border-radius: 5px;
	-web-border-radius: 5px;
	border-radius: 5px;
	background: #f0f0f0;
	font-size: 18px;
	padding: 0.25em;
	margin-top: -0.25em;
	font-family: 'Menlo';
}
pre {
	-moz-border-radius: 5px;
	-web-border-radius: 5px;
	border-radius: 5px;
	background: #f0f0f0;
	overflow: scroll;
	background: #f0f0f0;
}
.pull-left {
	float: left;
	width: 47%;
}
.pull-right {
	float: right;
	width: 47%;
}
.pull-right ~ p {
	clear: both;
}
.remark-slide .remark-slide-content {
	background-size: cover !important;
	background-position: center center !important;
}
#slideshow .slide .content code {
	font-size: 0.8em;
}
#slideshow .slide .content pre code {
	font-size: 0.9em;
	padding: 15px;
}
.inverse {
	background: #002b36;
	color: #eee;
}
.inverse h1, .inverse h2, .inverse h3 {
	line-height: 0.8em;
	color: #eee;
}
.inverse-dark {
	color: #839496;
}
.inverse-dark h1, .inverse-dark h2, .inverse-dark h3 {
	color: #93a1a1;
}
.inverse-yellow {
	background: #b58900;
}
.inverse-orange {
	background: #cb4b16;
}
.inverse-red {
	background: #dc322f;
}
.inverse-magenta {
	background: #d33682;
}
.inverse-violet {
	background: #6c71c4;
}
.inverse-blue {
	background: #268bd2;
}
.inverse-cyan {
	background: #2aa198;
}
.inverse-green {
	background: #859900;
}

.contents li {
	font-size: 1.25em;
	line-height: 2em;
	color: #93a1a1;
}
.contents li:last-child {
	color: #000;
}

/* Two-column layout */
.left-column {
	color: #657b83;
	width: 20%;
	height: 92%;
	float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
	color: #000;
}
.right-column {
	width: 75%;
	float: right;
}

/* Slide specific styles */
#slide-title h3 {
	margin-bottom: 3em;
}
#slide-title p {
	font-size: 0.67em;
}
#slide-capital-p-dangit img,
#slide-capital-p-fixed img {
	width: 250px;
	height: auto;
}
#slide-prefixing-do-not code,
#slide-prefixing-better code,
#slide-prefixing-even-better code {
	font-size: 1.5em;
}
#slide-prefixing-even-better pre {
	text-align: left;
}